<footer class="section">
  <div class="container has-text-centered">
    <p>{{ .Site.Copyright | safeHTML }}</p>
    {{if .Site.Params.Info.poweredby}}
      <p>Powered by <a href="https://gohugo.io/">Hugo</a> &amp; <a href="https://github.com/ribice/kiss">Kiss</a>.</p>
    {{ end }}
  </div>
</footer>
{{ if .Site.GoogleAnalytics }}
{{ template "_internal/google_analytics_async.html" . }}
{{ end }}
{{ if .Site.Params.matomoAnalytics }}
{{- partial "analytics/matomo" . -}}
{{ end }}
{{ if .Site.Params.fathomAnalytics }}
{{- partial "analytics/fathom" . -}}
{{ end }}
{{ "<!-- start analytics code -->" | safeHTML }}
<script>
  function _analytics() {
    var dnt = false;
    //https://dev.to/corbindavenport/how-to-correctly-check-for-do-not-track-with-javascript-135d
    if (window.doNotTrack ||
        navigator.doNotTrack ||
        navigator.msDoNotTrack ||
        (window.external && 'msTrackingProtectionEnabled' in window.external)) {
      // The browser supports Do Not Track!
      if (window.doNotTrack == "1" ||
          navigator.doNotTrack == "yes" ||
          navigator.doNotTrack == "1" ||
          navigator.msDoNotTrack == "1" ||
          ('msTrackingProtectionEnabled' in window.external && window.external.msTrackingProtectionEnabled())) {
        // Do Not Track is enabled!
        dnt = true;
        console.log("DoNotTrack respected.");
      } else {
        // Do Not Track is disabled!
      }
    } else {
      // Do Not Track is not supported
    }
    if (!dnt) {
      var xhttp = new XMLHttpRequest();
      xhttp.open("POST", "https://analytics.tbhartman.com/hit", true);
      xhttp.setRequestHeader("Content-type", "application/json");
      xhttp.send(JSON.stringify({
        "url": document.URL.split('?')[0]
      }));
    }
  }
  {{ if not .Site.IsServer }}
  // check for localStorage setting
  if (!is404page && (!!window.localStorage || window.localStorage.getItem("tbhartman.com analytics DNT") != "true")) {
    _analytics();
  }
  {{ end }}
</script>
{{- if .Site.IsServer }}
{{ "<!-- _analytics not called due to .Site.IsServer -->" | safeHTML }}
{{ end }}
{{ "<!-- end analytics code -->" | safeHTML }}
</body>
</html>
