{{ partial "header" . }}
{{ partial "nav" . }}
<section class="section">
  <div class="container">
    <article>
      <div class="content">
        {{ .Content }}
      </div>
    </article>
  </div>
</section>
{{ partial "pager" . }}
{{ partial "footer" . }}
